.todoform {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.textInput {
    border: none;
    width: 100%;
    display: block;
    color: black;
    font-size: 16px;
}

.textInput:focus {
    outline: none;
}

.submitButton {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #f7ca18;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
}

.inputContainer {
    display: flex;
}